* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    color: white;
    background-color: #5E3F09;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Hind";
}

p, a, button {
    font-family: "Open Sans";
}

a {
    font-size: 16px;
    color: #00FFFF;
    font-weight: 900;
}

p {
    font-size: 20px;
    line-height: 28px;
}

button {
    font-size: 18px;
    font-weight: 700;
    background-color: #00FFFF;
    border-color: #A1A1A1;
}

div p {
    font-size: 13px;
}

.navbar {
    background-color: black;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid #A1A1A1;
}

.home-link, .burger {
    position: absolute;
}

.home-link {
    top: 20px;
}

.burger {
    right: 30px;
    top: 15px;
    width: 25px;
    height: 25px;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    color: #00FFFF;
    border: none;
}

.home-link, .menu-links * {
    text-decoration: none;
}

.menu-links {
    position: relative;
    top: 57px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.email-icon, .linkedin-icon {
    width: 30px;
    height: 25px;
}

.navbar .github-logo {
    width: 70px;
    height: 30px;
}

.email-icon, .github-logo {
    background-color: white;
}

.hidden {
    display: none;
}

.headline-text {
    margin-bottom: 15px;
    margin-left: 0px;
}

.portfolio-button {
    margin-bottom: 25px;
}

.headshot-photo {
    border: 1px solid #A1A1A1;
    display: block;
}

.headshot-placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -9px;
    color: black;
}

.bio-header {
    margin-bottom: 10px;
}

.bio-text {
    margin-top: 0px;
}

.page-title {
    text-align: center;
}

.project-slideshow, .project-photos {
    position: relative;
}

.project-slideshow {
    margin-left: auto;
    margin-right: auto;
}

.project-photo {
    display: none;
    width: 100%;
}

.default-photo {
    display: block;
}

.left-arrow-button, .right-arrow-button {
    position: absolute;
    padding: 0px;
    background-color: transparent;
    border: none;
    padding: 0px;
    opacity: 0.5;
}

.arrow-img {
    width: 100%;
}

.left-arrow-button:focus, .left-arrow-button:hover, .right-arrow-button:focus, .right-arrow-button:hover {
    opacity: 1.0;
}

.left-arrow-button:hover, .right-arrow-button:hover {
    cursor: pointer;
}

.project-title {
    margin-bottom: 5px;
}

.project-technologies {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.html-logo, .css-logo {
    background-color: white;

    /*
        These apply to alt text when the image doesn't load
    */
    color: black;
    font-size: 14px;
}

.project-description {
    margin-top: 15px;
}

.project-links {
    text-align: center;
    margin-top: 0px;
}

.project-repo-link, .project-live-link {
    font-weight: 700;
}

.project-links-divider {
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 900;
    font-size: larger;
}

/*
    Mobile devices
*/
@media screen and (max-width: 649px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 27px;
    }

    .navbar {
        padding-left: 30px;
        padding-right: 30px;
        height: 75px;
    }

    .navbar.extended {
        height: 100px;
    }

    .home-link {
        left: 30px;
    }

    .portfolio-link, .email-link-with-image, .linkedin-link, .github-link {
        margin-left: 7%;
    }

    .email-link-with-text {
        display: none;
    }
    
    main {
        margin-top: 95px;
        margin-right: 30px;
        margin-left: 30px;
    }
    
    main.extended {
        margin-top: 120px;
    }

    .headshot-photo {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        width: 65%;
        max-width: 250px;
    }

    .page-title {
        margin-bottom: 30px;
    }

    .project-slideshow {
        width: 90%;
    }

    .left-arrow-button, .right-arrow-button {
        top: 50%;
        width: 50px;
        height: 50px;
        margin-top: -25px;
    }
    
    .left-arrow-button {
        left: 10px;
    }

    .right-arrow-button {
        right: 10px;
    }

    .tech-logo {
        margin-right: 4%;
    }

    .html-logo {
        width: 16%;
        max-width: 55px;
    }

    .css-logo {
        width: 14%;
        max-width: 48px;
    }

    .jquery-logo {
        width: 19%;
        max-width: 67px;
    }

    .git-logo, .project-technologies .github-logo {
        width: 17%;
        max-width: 74px;
    }

    .project-links {
        margin-bottom: 25px;
    }
}

/*
    Tablet devices
*/
@media screen and (min-width: 650px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 27px;
    }

    .navbar {
        padding-left: 10%;
        padding-right: 10%;
        height: 100px;
    }

    .home-link {
        left: 10%;
    }
    
    .burger {
        display: none;
    }

    .portfolio-link, .email-link-with-text, .linkedin-link, .github-link {
        margin-left: 4%;
    }

    .email-link-with-image {
        display: none;
    }

    main {
        margin-top: 140px;
        margin-right: 10%;
        margin-left: 10%;
    }

    .headshot-photo {
        float: right;
        width: 30%;
        margin-left: 20px;
        margin-right: 10px;
        margin-top: 75px;
        margin-bottom: 5px;
    }
    
    .page-title {
        margin-bottom: 40px;
    }

    .project-slideshow {
        width: 90%;
    }

    .left-arrow-button, .right-arrow-button {
        top: 50%;
        width: 75px;
        height: 75px;
        margin-top: -37px;
    }
    
    .left-arrow-button {
        left: 20px;
    }

    .right-arrow-button {
        right: 20px;
    }

    .tech-logo {
        margin-right: 30px;
    }

    .html-logo {
        width: 63px;
    }

    .css-logo {
        width: 63px;
    }

    .jquery-logo {
        width: 67px;
    }

    .git-logo, .project-technologies .github-logo {
        width: 74px;
    }

    .project-links {
        margin-bottom: 25px;
    }
}

/*
    Desktop/laptop computers
*/
@media screen and (min-width: 1000px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 31px;
    }
    
    .navbar {
        padding-left: 12%;
        padding-right: 12%;
        height: 100px;
    }

    .home-link {
        left: 12%;
    }
    
    .burger {
        display: none;
    }

    .portfolio-link, .email-link-with-text, .linkedin-link, .github-link {
        margin-left: 40px;
    }

    .email-link-with-image {
        display: none;
    }
    
    main {
        margin-left: 12%;
        margin-right: 12%;
    }

    .headshot-photo {
        float: right;
        width: 25%;
        margin-left: 20px;
        margin-right: 10px;
        margin-top: 80px;
        margin-bottom: 10px;
        max-width: 250px;
    }

    .page-title {
        margin-bottom: 40px;
    }

    .project-slideshow {
        width: 800px;
    }

    .left-arrow-button, .right-arrow-button {
        top: 50%;
        width: 100px;
        height: 100px;
        margin-top: -50px;
    }
    
    .left-arrow-button {
        left: 40px;
    }

    .right-arrow-button {
        right: 40px;
    }

    .tech-logo {
        margin-right: 30px;
    }

    .html-logo {
        width: 63px;
    }

    .css-logo {
        width: 63px;
    }

    .jquery-logo {
        width: 67px;
    }

    .git-logo, .project-technologies .github-logo {
        width: 74px;
    }

    .project-links {
        margin-bottom: 45px;
    }
}