* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  color: white;
  background-color: #5E3F09;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Hind";
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

p, a, button {
  font-family: "Open Sans";
}

a {
  font-size: 16px;
  color: #00FFFF;
  font-weight: 900;
}

a:focus, a:hover {
  transform: scale(1.2);
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  text-decoration: none;
}

.menu-links img:hover {
  transform: scale(1.2);
}

p {
  font-size: 20px;
  line-height: 28px;
}

button {
  font-size: 18px;
  font-weight: 700;
  background-color: #00FFFF;
  border-color: #A1A1A1;
}

button:focus, button:hover {
  transform: scale(1.2);
}

button:hover {
  cursor: pointer;
}

div p {
  font-size: 13px;
}

.navbar {
  padding-left: 30px;
  padding-right: 30px;
  height: 75px;
  background-color: black;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid #A1A1A1;
}

.navbar.extended {
  height: 100px;
}

.home-button, button.menu {
  position: absolute;
}

.home-button {
  top: 20px;
  left: 30px;
}

.home-button, .navbar .portfolio-button {
  background-color: transparent;
  color: #00FFFF;
  border: 0px;
  padding: 0px;
  margin: 0px;
  font-size: 16px;
}

/*
  Hides content from users, without hiding it from screen readers
*/
.visually-hidden {
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0px;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

button.menu {
  right: 30px;
  top: 15px;
  width: 25px;
  height: 25px;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
  color: #00FFFF;
  border: none;
}

.menu-links {
  position: relative;
  top: 57px;
  display: none;
}

.menu-links.extended {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu-links * {
  display: inline-block;
}

.email-image-link, .linkedin-link, .github-link {
  margin-left: 7%;
}

.email-text-link {
  display: none;
}

.email-icon, .linkedin-icon {
  width: 30px;
  height: 25px;
}

.navbar .github-logo {
  width: 70px;
  height: 30px;
}

/*
  Hides content from users and screen readers
*/
.hidden {
  display: none;
}

main {
  margin: 95px 10% 40px 10%;
}

main.extended {
  margin-top: 120px;
}

.headline-text {
  margin-bottom: 10px;
  margin-left: 0px;
}

main.portfolio-button {
  margin-bottom: 25px;
}

.headshot-photo {
  border: 1px solid #A1A1A1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  width: 165px;
  display: block;
}

.bio-header {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 30px;
}

.bio-text {
  margin-top: 0px;
}

.page-title {
  text-align: center;
  margin-bottom: 30px;
}

.project {
  border-bottom: 5px solid black;
  margin-bottom: 30px;
}

.project-slideshow, .project-photos {
  position: relative;
}

.project-slideshow {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.project-photo {
  display: block;
  width: 100%;
  border: 2px solid #A1A1A1;
}

.slideshow-button {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  padding: 0px;
  background-color: transparent;
  border: none;
  padding: 0px;
  opacity: 0.5;
}

.arrow-img {
  width: 100%;
}

.slideshow-button:focus, .slideshow-button:hover {
  opacity: 1.0;
}

.slideshow-button:hover {
  cursor: pointer;
}

.slideshow-button:disabled {
  opacity: 0.5;
}

.left-arrow-button {
  left: 10px;
}

.right-arrow-button {
  right: 10px;
}

.project-title {
  margin-bottom: 5px;
  margin-top: 15px;
}

.project-technologies {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.html-logo, .css-logo {
  /*
    These apply to alt text when the image doesn't load
  */
  color: black;
  font-size: 14px;
}

.tech-logo {
  margin-right: 5%;
}

.html-logo {
  width: 55px;
}

.css-logo {
  width: 55px;
}

.javascript-logo {
  width: 55px;
}

.jquery-logo {
  width: 50px;
}

.react-logo {
  width: 60px;
}

.node-logo {
  width: 70px;
  padding: 4px;
  background-color: white;
}

.postgresql-logo {
  width: 70px;
  background-color: white;
  padding: 3px;
}

.jquery-logo, .react-logo, .node-logo, .postgresql-logo {
  margin-top: 15px;
}

.project-description {
  margin-top: 15px;
}

.project-links {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 25px;
}

.project-repo-link, .project-live-link {
  font-weight: 700;
  display: inline-block;
}

.project-links-divider {
  margin-left: 8px;
  margin-right: 8px;
  font-weight: 900;
  font-size: larger;
}

/*
  Tablet devices
*/
@media screen and (min-width: 690px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }

  .navbar {
    padding-left: 10%;
    padding-right: 10%;
    height: 100px;
  }

  .home-button {
    left: 10%;
  }

  button.menu {
    display: none;
  }

  .menu-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .email-image-link {
    display: none;
  }

  .email-text-link {
    display: inline-block;
  }

  .email-text-link, .linkedin-link, .github-link {
    margin-left: 4%;
  }

  .email-text-link:focus, .email-text-link:hover {
    transform: scale(1.1);
  }

  main {
    margin-top: 140px;
    margin-right: 10%;
    margin-left: 10%;
  }

  .bio-header {
    position: relative;
    display: inline-block;
    margin-left: -150px;
    left: 50%;
  }

  .headshot-photo {
    float: right;
    width: 30%;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 92px;
    margin-bottom: 5px;
  }

  .page-title {
    margin-bottom: 40px;
  }

  .project-slideshow {
    width: 90%;
  }

  .slideshow-button {
    top: 50%;
    width: 75px;
    height: 75px;
    margin-top: -37px;
  }

  .left-arrow-button {
    left: 20px;
  }

  .right-arrow-button {
    right: 20px;
  }

  .jquery-logo {
    width: 70px;
  }

  .jquery-logo, .react-logo, .node-logo, .postgresql-logo {
    margin-top: 0px;
  }
}

/*
  Desktop/laptop computers
*/
@media screen and (min-width: 1000px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 31px;
  }

  .navbar {
    padding-left: 12%;
    padding-right: 12%;
    height: 100px;
  }

  .home-button {
    left: 12%;
  }

  .hidden-on-mobile {
    display: flex;
  }

  .email-text-link {
    display: inline-block;
  }

  .email-text-link, .linkedin-link, .github-link {
    margin-left: 40px;
  }

  .email-image-link {
    display: none;
  }

  .email-text-link:focus, .email-text-link:hover {
    transform: scale(1.2);
  }

  main {
    margin-left: 12%;
    margin-right: 12%;
  }

  .bio-header {
    position: relative;
    display: inline-block;
    margin-left: -150px;
    left: 50%;
  }

  .headshot-photo {
    float: right;
    width: 25%;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 93px;
    margin-bottom: 10px;
    max-width: 250px;
  }

  .page-title {
    margin-bottom: 40px;
  }

  .project-slideshow {
    width: 700px;
  }

  .slideshow-button {
    top: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
  }

  .left-arrow-button {
    left: 40px;
  }

  .right-arrow-button {
    right: 40px;
  }
}