.ProjectLinks {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 25px;
}

.ProjectLinks__divider {
  margin-left: 8px;
  margin-right: 8px;
  font-weight: 900;
  font-size: larger;
}

.ProjectLinks__disabled {
  display: inline-block;
}

.ProjectLinks__disabled span {
  text-decoration: line-through;
  color: var(--emphasis-color);
  margin-right: 5px;
}