* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  color: white;
  background-color: #5E3F09;
}

p, a, button {
  font-family: "Open Sans";
}

/*
  Hides content from users, without hiding it from screen readers
*/
.visually-hidden {
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0px;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

a {
  text-decoration: none;
  font-size: 16px;
}

a:focus, a:hover {
  font-weight: bold;
}

/*
  Tablet devices
*/
@media screen and (min-width: 690px) {
  a {
    font-size: 18px;
  }
}

/*
  Desktop/laptop computers
*/
@media screen and (min-width: 1000px) {
  a {
    font-size: 20px;
  }
}