* {
    box-sizing: border-box;
}

.navbar {
    background-color: black;
    color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 90px;
}

.navbar * {
    position: absolute;
}

.home-link {
    left: 110px;
    top: 15px;
    font-size: 35px;
}

.portfolio-link {
    right: 500px;
    bottom: 10px;
    font-size: 30px;
}

.home-link, .portfolio-link {
    text-decoration: none;
    color: white;
}

.email-icon, .linkedin-icon {
    width: 40px;
    height: 35px;
}

.email-link {
    right: 435px;
    bottom: 45px;
}

.linkedin-link {
    right: 330px;
    bottom: 46px;
}

.github-link {
    right: 220px;
    bottom: 51px;
}

.navbar-github-logo {
    width: 90px;
    height: 40px;
}

.email-icon, .navbar-github-logo {
    background-color: white;
}

main {
    margin-top: 150px;
    margin-right: 150px;
    margin-left: 150px;
}

.headline-text {
    font-size: 55px;
    margin-bottom: 30px;
}

.portfolio-button {
    margin-bottom: 20px;
    font-size: 30px;
}

.headshot-photo {
    float: right;
    width: 350px;
    margin-right: 20px;
    margin-left: 15px;
}

.bio {
    width: 75%;
    margin-top: 250px;
}

.bio-header {
    clear: right;
    font-size: 40px;
}

.bio-text {
    font-size: 30px;
}

.page-title {
    text-align: center;
}

.project-slideshow, .project-photo {
    width: 100%;
}

.project-slideshow {
    position: relative;
}

.left-arrow-button, .right-arrow-button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 60px;
    padding: 0px;
}

/*
    cuts out parts of the button to make the whole thing look like an arrow
*/
.left-arrow-button {
    left: 10px;
    clip-path: polygon(
        70% 71%,
        24% 52%,
        24% 44%,
        70% 25%,
        70% 33%,
        35% 48%,
        70% 63%
    );
}

.right-arrow-button {
    right: 10px;
    clip-path: polygon(
        30% 24%,
        76% 45%,
        76% 52%,
        30% 71%,
        30% 63%,
        65% 48%,
        30% 32%
    );
}

.arrow-img {
    width: 100%;
}

.project-title {
    margin-bottom: 10px;
}

.quiz-app-technologies {
    display: flex;
    align-items: center;
    padding: 0px;
}

.html-logo {
    width: 45px;
    height: 35px;
}

.css-logo {
    width: 35px;
    height: 35px;
}

.jQuery-logo {
    width: 55px;
    height: 45px;
}

.git-logo {
    width: 55px;
    height: 25px;
}

.html-logo, .css-logo, .jQuery-logo, .git-logo {
    margin-right: 5px;
    margin-left: 0px;
}

.project-links {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 15px;
}

.project-repo-link, .project-live-link {
    color: black;
    font-weight: 700;
}

.project-links span {
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 900;
    font-size: larger;
}